<html lang="en">
{% include "../includes/head.html" %}
{% block css %}
<link rel="stylesheet" href="/stylesheets/forms.css">
{% endblock %}
<body>
{% include "../includes/navigation.html" %}
<main>
    <form class="search-form" action="/mars-rover-latest-photo" method="POST">
        <div class="form-control">
            <label class="required-field" for="userId">User Id</label>
            <input type="text" name="userId" id="userId" required>
        </div>
        <div class="form-control">
            <label class="required-field" for="userName">Username</label>
            <input type="text" name="userName" id="userName" required>
        </div>
        <div class="form-control">
            <label class="required-field" for="api_key">Nasa Demo Key</label>
            <input type="text" name="api_key" id="api_key" required>
        </div>
        <button class="btn" type="submit">Last photo</button>
    </form>
</main>
</body>
</html>
