<html lang="en">
<!--    {% extends "../includes/head.html" %}-->
<!--    {% block stylesheets %}{% endblock %}-->
<body>
<!--{% extends "../includes/navigation.html" %}-->
<!--<div class="container">-->
<!--    <main class="content">{% block content %}{% endblock %}</main>-->
<!--    <footer class="footer">-->
<!--        <ul class="footer__menu footer-menu">-->
<!--            <li><a href="/">Home</a></li>-->
<!--            <li><a href="/">About us</a></li>-->
<!--            <li><a href="/">Contacts</a></li>-->
<!--        </ul>-->
<!--    </footer>-->
<!--</div>-->
</body>
</html>
